<div class="container">
  <div class="row justify-content-center">
    <div class=" col-md-8 border border-primary p-3">
      <img width="100%" [src]="imageUrl" class="image" />
      @if (imageUrl) {
      <div>
        <canvas #imageCanvas style="border: 1px solid black;"></canvas>
        <!-- <button (click)="savePolyline()">Save Polyline</button> -->
      </div>
      }

      <!-- <h2>Section 1</h2>
      <p>Content for the first section. This section occupies half of the screen on medium and larger screens.</p>

      <div class="row">
        <div class="col-6 border border-success p-2">Sub-section 1</div>
        <div class="col-6 border border-warning p-2">Sub-section 2</div>
      </div> -->
    </div>
    <div class="col-md-4 border border-danger p-3">
      <h2>Section 2</h2>
      <p>Content for the second section. This section also occupies half of the screen on medium and larger screens.</p>
      <ul class="list-group">
        <li class="list-group-item">
          <label for="imageUpload" class="btn btn-primary w-100">Upload Image</label>
          <input type="file" id="imageUpload" accept="image/*" style="display: none;" (change)="imageUpload($event)">
        </li>
        <li class="list-group-item"> <label for="imageUpload" (click)="saveImage()" class="btn btn-primary w-100">Save
            Image</label>
        </li>
        <li class="list-group-item">
          <label for="imageUpload" (click)="saveImage()" class="btn btn-primary w-100">Clear</label>
        </li>
        <li class="list-group-item">A fourth item</li>
        <li class="list-group-item">And a fifth one</li>
      </ul>
    </div>
  </div>
</div>